${headPartial}
<meta name="google" content="notranslate">
<meta http-equiv="Content-Language" content="en">
<body>
${navPartial}
<link rel="stylesheet" href="./styles/press.css">
<div class="press-content">
    <div class="press-picture-frame">
        <img src="./images/couverture.jpeg" alt="">
    </div>
    <p>
        Buy  <em style="margin-right:5px;">  Les pages du ciel  </em>    today.
    </p>
    <br>
    <div class="press-button-frame">
        <img src="./images/harmonugly.png" alt="">
    </div>
    <div style="margin-bottom: 60px;"class="press-button-frame">
        <img src="./images/amazon-button.png" alt="">
    </div>
    <p>
        Read praise for  <em style="margin-right:5px;"> Les pages du ciel  </em> here:
    </p>
    <div class="press-button">
        <div class="press-button-contents">
                <i class="far fa-file-pdf"></i>  
                <p>Ploërmel Communaté</p>
        </div>
    </div>
    <p>
        Xiron Poetry Club’s review and translation (Chinese) can be found here:
    </p>
    <div class="press-button">
        <div class="press-button-contents">
            <i class="fas fa-external-link-alt"></i>  
            <p>Xiron Poetry Club</p>
        </div>
    </div>
    <br>
    <div class="press-button-frame">
            <img src="./images/helene-poetry.gif" alt="">
    </div>
    <p>
        Read a special Chinese translation of <em style="margin-right:5px;">Les pages du ciel </em>  <a href="https://mp.weixin.qq.com/s/avcEY-d_nbf1AySeNpbl8g">here</a>.
    </p>
</div>
</body>
</html>